# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
export_data = "citydata.csv"
export_data = pd.read_csv(export_data, index_col=0)
export_data.head()

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness
0,kavieng,PG,1588574147,84.34,-2.57,150.80,79,10.54,82
1,mataura,NZ,1588574147,41.41,-46.19,168.86,90,3.85,76
2,kaka,TM,1588574148,79.83,37.35,59.61,32,10.92,0
3,kuytun,RU,1588574148,63.63,54.34,101.50,31,13.98,82
4,bluff,NZ,1588574148,48.65,-46.60,168.33,75,14.92,71

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
export_data = export_data.dropna()

locations = export_data[["Latitude", "Longitude"]].astype(float)
humidity = export_data["Humidity"].astype(float)


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
weather_df = export_data.loc[(export_data["Temperature"] < 80) & (export_data["Temperature"] > 70) \
                            & (export_data["Wind Speed"] < 10) \
                            & (export_data["Cloudiness"] == 0)].dropna()

weather_df

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness
28,xining,CN,1588574162,70.07,36.62,101.77,14,7.40,0
137,avarua,CK,1588574214,75.20,-21.21,-159.78,88,3.36,0
218,kitui,KE,1588574249,74.46,-1.37,38.01,53,6.04,0
268,waddan,LY,1588574275,71.44,29.16,16.14,36,7.05,0
315,mwense,ZM,1588574295,74.35,-10.38,28.70,46,7.56,0
332,namikupa,TZ,1588574302,77.63,-10.83,39.60,64,7.23,0
337,hun,LY,1588574304,71.26,29.13,15.95,36,6.71,0
364,jijiga,ET,1588574074,72.81,9.35,42.80,42,5.46,0
413,komsomolskiy,UZ,1588574338,75.20,40.43,71.72,29,4.70,0
415,vila velha,BR,1588574340,70.75,-20.33,-40.29,68,9.17,0
424,choix,MX,1588574343,75.79,26.71,-108.32,29,3.18,0
449,beloha,MG,1588574357,77.61,-25.17,45.05,51,6.89,0
466,erenhot,CN,1588574364,71.22,43.65,111.98,14,9.95,0
530,guane,CU,1588574394,72.90,22.20,-84.09,81,6.20,0
549,kalabo,ZM,1588574403,73.11,-14.97,22.68,37,7.45,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df = pd.DataFrame(weather_df).dropna()
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness,Hotel Name
28,xining,CN,1588574162,70.07,36.62,101.77,14,7.40,0,
137,avarua,CK,1588574214,75.20,-21.21,-159.78,88,3.36,0,
218,kitui,KE,1588574249,74.46,-1.37,38.01,53,6.04,0,
268,waddan,LY,1588574275,71.44,29.16,16.14,36,7.05,0,
315,mwense,ZM,1588574295,74.35,-10.38,28.70,46,7.56,0,

In [15]:
# refer to Google places activity
# tutor assisted (search variables)
lat_long = f'{hotel_df["Latitude"].iloc[0], hotel_df["Longitude"].iloc[0]}'
target_search = 'hotel'
target_radius = 5000 

# setup params
params = {
        "location": lat_long,
        "keyword": target_search,
        "radius": target_radius,
        "key": g_key
}

print(params)

{'location': '(36.62, 101.77)', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyBUKnl2UTYNJNVv4YUKZn-lG0zxbtMzH6Q'}

In [16]:
# hit Google Places API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [18]:
# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
first_hotel = response.json()

hotel_df.iloc[0][0]

'xining'

In [19]:
# use Airport Ratings activity
# create an empty list to iterate the hotel name rows
hotel_names = []

# for loop iterrows
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    name_address = requests.get(base_url, params=params).json()
    
    try: 
        hotel_df.loc[index, "Hotel Name"] = (name_address['results'][0]['name'])
        
    except (KeyError, IndexError):
        print("Missing field/result")
        
hotel_df

Missing field/result
Missing field/result
Missing field/result
Missing field/result

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness,Hotel Name
28,xining,CN,1588574162,70.07,36.62,101.77,14,7.40,0,Sofitel Xining
137,avarua,CK,1588574214,75.20,-21.21,-159.78,88,3.36,0,The Rarotongan Beach Resort & Lagoonarium
218,kitui,KE,1588574249,74.46,-1.37,38.01,53,6.04,0,Igloos Resort
268,waddan,LY,1588574275,71.44,29.16,16.14,36,7.05,0,
315,mwense,ZM,1588574295,74.35,-10.38,28.70,46,7.56,0,
332,namikupa,TZ,1588574302,77.63,-10.83,39.60,64,7.23,0,
337,hun,LY,1588574304,71.26,29.13,15.95,36,6.71,0,Al Nakhel Hotel
364,jijiga,ET,1588574074,72.81,9.35,42.80,42,5.46,0,ZM International Hotel
413,komsomolskiy,UZ,1588574338,75.20,40.43,71.72,29,4.70,0,Hotel Mehmon Saroy
415,vila velha,BR,1588574340,70.75,-20.33,-40.29,68,9.17,0,Golden Tulip Porto Vitória
424,choix,MX,1588574343,75.79,26.71,-108.32,29,3.18,0,Huites Hotel
449,beloha,MG,1588574357,77.61,-25.17,45.05,51,6.89,0,
466,erenhot,CN,1588574364,71.22,43.65,111.98,14,9.95,0,Moli International Hotel
530,guane,CU,1588574394,72.90,22.20,-84.09,81,6.20,0,Campismo El Salto de los Portales
549,kalabo,ZM,1588574403,73.11,-14.97,22.68,37,7.45,0,HM Sams Lodge

In [20]:
hotel_df.to_csv("hotel_names.csv")

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [13]:
# Add marker layer ontop of heat map
# use Gmaps activity
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# New results given due to new API calls