# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
export_data = "citydata.csv"
export_data = pd.read_csv(export_data, index_col=0)
export_data.head()

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness
0,punta arenas,CL,1588134847,28.40,-53.15,-70.92,92,5.03,40
1,cayenne,GF,1588134848,75.20,4.93,-52.33,100,8.93,98
2,ourossogui,SN,1588134848,87.80,15.61,-13.32,33,4.70,50
3,wajima,JP,1588134849,64.40,37.40,136.90,48,19.46,7
4,arraial do cabo,BR,1588134849,72.55,-22.97,-42.03,80,9.84,0

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
export_data = export_data.dropna()

locations = export_data[["Latitude", "Longitude"]].astype(float)
humidity = export_data["Humidity"].astype(float)


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
weather_df = export_data.loc[(export_data["Temperature"] < 80) & (export_data["Temperature"] > 70) \
                            & (export_data["Wind Speed"] < 10) \
                            & (export_data["Cloudiness"] == 0)].dropna()

weather_df

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness
4,arraial do cabo,BR,1588134849,72.55,-22.97,-42.03,80,9.84,0
78,benguela,AO,1588134883,75.74,-12.58,13.41,78,1.74,0
142,camargo,MX,1588134910,73.60,27.67,-105.17,13,1.95,0
277,armeria,MX,1588134976,71.62,18.93,-103.97,63,3.31,0
540,lazaro cardenas,MX,1588135095,75.63,17.96,-102.20,80,1.74,0
554,paita,PE,1588135101,71.04,-5.09,-81.11,74,9.82,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = pd.DataFrame(weather_df)
hotel_df

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness
4,arraial do cabo,BR,1588134849,72.55,-22.97,-42.03,80,9.84,0
78,benguela,AO,1588134883,75.74,-12.58,13.41,78,1.74,0
142,camargo,MX,1588134910,73.60,27.67,-105.17,13,1.95,0
277,armeria,MX,1588134976,71.62,18.93,-103.97,63,3.31,0
540,lazaro cardenas,MX,1588135095,75.63,17.96,-102.20,80,1.74,0
554,paita,PE,1588135101,71.04,-5.09,-81.11,74,9.82,0

In [7]:
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness,Hotel Name
4,arraial do cabo,BR,1588134849,72.55,-22.97,-42.03,80,9.84,0,
78,benguela,AO,1588134883,75.74,-12.58,13.41,78,1.74,0,
142,camargo,MX,1588134910,73.60,27.67,-105.17,13,1.95,0,
277,armeria,MX,1588134976,71.62,18.93,-103.97,63,3.31,0,
540,lazaro cardenas,MX,1588135095,75.63,17.96,-102.20,80,1.74,0,
554,paita,PE,1588135101,71.04,-5.09,-81.11,74,9.82,0,

In [8]:
# refer to Google places activity
# tutor assisted (search variables)
lat_long = f'{hotel_df["Latitude"].iloc[0], hotel_df["Longitude"].iloc[0]}'
target_search = 'hotel'
target_radius = 5000 

# setup params
params = {
        "location": lat_long,
        "keyword": target_search,
        "radius": target_radius,
        "key": g_key
}

print(params)

{'location': '(-22.97, -42.03)', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyBUKnl2UTYNJNVv4YUKZn-lG0zxbtMzH6Q'}

In [9]:
# hit Google Places API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [14]:
# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
first_hotel = response.json()

hotel_df.iloc[0]

City           arraial do cabo
Country                     BR
Date                1588134849
Temperature              72.55
Latitude                -22.97
Longitude               -42.03
Humidity                    80
Wind Speed                9.84
Cloudiness                   0
Hotel Name      Orlanova Hotel
Name: 4, dtype: object

In [28]:
# use Airport Ratings activity
# create an empty list to iterate the hotel name rows
hotel_names = []

# for loop iterrows
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    name_address = requests.get(base_url, params=params).json()
    
    #ame_address = name_address.json()
    
    try: 
        hotel_df.loc[index, "Hotel Name"] = (name_address['results'][0]['name'])
        
    except (IndexError):
        print("Missing field/result")
        
hotel_df

,City,Country,Date,Temperature,Latitude,Longitude,Humidity,Wind Speed,Cloudiness,Hotel Name
4,arraial do cabo,BR,1588134849,72.55,-22.97,-42.03,80,9.84,0,Orlanova Hotel
78,benguela,AO,1588134883,75.74,-12.58,13.41,78,1.74,0,iu Hotel Benguela
142,camargo,MX,1588134910,73.60,27.67,-105.17,13,1.95,0,Los Nogales Inn
277,armeria,MX,1588134976,71.62,18.93,-103.97,63,3.31,0,Hotel la Herradura
540,lazaro cardenas,MX,1588135095,75.63,17.96,-102.20,80,1.74,0,Hotel de Casablanca
554,paita,PE,1588135101,71.04,-5.09,-81.11,74,9.82,0,Hotel Náutico de Paita

In [31]:
hotel_df.to_csv("hotel_names.csv")

In [29]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [30]:
# Add marker layer ontop of heat map
# use Gmaps activity
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))